### ðŸ¦† DuckDB Explained 

### ðŸ› ï¸ DuckDB is to data science what SQLite is to apps: 
**A no-fuss, powerful local engine for structured data**.

### ðŸ§  Why DuckDB is Ideal for Data Analysis
- **Query CSV, Parquet, Pandas directly** â€” no need to import into a database first
- **Zero setup** â€” works like SQLite, embedded and portable
- **Full SQL syntax** â€” supports `JOIN`, `GROUP BY`, `WINDOW`, `CTE`, and more
- **Extremely fast** â€” vectorized execution engine optimized for analytical queries
- **Memory-efficient** â€” columnar in-memory format means less RAM usage
- **Great for notebooks** â€” plays well with Jupyter, pandas, and visualization tools


### ðŸš€ DuckDB Use Cases
- Running ad-hoc SQL on `pandas` DataFrames
- Exploring large CSV or Parquet files *without loading everything into memory*
- Building lightweight data pipelines and dashboards
- Testing queries before porting to production DBs (e.g., PostgreSQL, BigQuery)
- Offline data exploration with **zero dependencies**


### ðŸ§© Features Summary
- Embedded (no server)
- Columnar storage
- Native support for CSV, JSON, Parquet, Arrow
- Integration with Pandas, Polars, Arrow, and R
- Supports SQL window functions, CTEs, nested queries
- Works on Linux, macOS, Windows, and in the browser (via WASM)

In [ ]:
import pandas as pd
import duckdb

df = pd.read_csv("bankdata.csv")

res = duckdb.query("""
    SELECT marital, COUNT(*) AS n
    FROM df
    WHERE loan = 'no'
    GROUP BY marital
""").to_df()

print(res)

ðŸ’¥ 2. Use SQL Window Functions (e.g. RANK)

In [ ]:
res = duckdb.query("""
    SELECT age, balance,
           RANK() OVER (ORDER BY balance DESC) AS balance_rank
    FROM df
""").to_df()
res

#### ðŸ§  3. Use CTEs and Subqueries Cleanly

In [ ]:
res = duckdb.query("""
    WITH top_balances AS (
        SELECT job, balance
        FROM df
        WHERE balance > 1000
    )
    SELECT job, COUNT(*) AS high_balance_count
    FROM top_balances
    GROUP BY job
""").to_df()

res

#### ðŸ§² 4. Read & Write Parquet Files Natively

In [ ]:
# Export to Parquet
duckdb.query("COPY df TO 'bankdata.parquet' (FORMAT PARQUET)")

# Query from Parquet
res = duckdb.query("SELECT * FROM 'bankdata.parquet' WHERE age > 40").to_df()
res

#### ðŸ”„ 5. JOIN CSV (df) with DataFrame on the Fly

In [ ]:
age_groups = pd.DataFrame({
    'age': [28, 33, 35, 44, 47, 58],
    'group': ['young', 'young', 'young', 'mid', 'mid', 'old']
})

res = duckdb.query("""
    SELECT df.age, df.job, ag.group
    FROM df
    JOIN age_groups ag ON df.age = ag.age
""").to_df()
res